{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ if (gt .Params.date 0) }}<h3 class="date">{{ .Date.Format "2006-01-02" }}</h3>{{ end }}
    <p class="terms">
        {{ range $i := (slice "categories" "tags") }}
        {{ with ($.Param $i) }}
        {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
        {{ end }}
        {{ end }}
    </p>
</div>

<main>
    {{ .Content }}
</main>

{{ partial "footer.html" . }}
